.dark {
    background-color: color(grey-3);
    color: color(primary);

    #app {
        background-color: color(grey-2);
    }

    .bp-nav-bar {
        background-color: color(primary);
        color: color(grey-2);
    }
}