.dark {
  background-color: color(grey-3);
  color: color(primary);

  #app {
    background-color: color(grey-2);
  }

  .bp-nav-bar {
    background-color: color(primary);
    color: color(grey-2);
  }

  .post {
    color: color(grey-0);

    .subtitle {
      border-bottom: 1px solid color(grey-0);
    }
  }

  .post:hover {
    background-color: color(grey-1);
    color: color(white);

    .title {
      font-weight: 500;
    }

    .subtitle {
      border-bottom: 1px solid color(primary);
    }
  }
}