.light {
  background-color: color(white);
  color: color(grey-4);

  #app {
    background-color: color(grey-0);
  }

  .bp-nav-bar {
    background-color: color(grey-5);
    color: color(primary);
  }

  .post {
    color: color(grey-3);

    .subtitle {
      border-bottom: 1px solid color(grey-5);
    }
  }

  .post:hover {
    background-color: color(grey-4);
    color: color(grey-0);

    .title {
      font-weight: 500;
    }

    .subtitle {
      border-bottom: 1px solid color(primary);
    }
  }
}